.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto 1fr;
    gap: 10px;
    width: 100%;
    height: 100vh;
}

.grid-item {
    background-color: #ccc;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.item1 {
    grid-row: 1 / 4; /* Span all rows */
    grid-column: 1 / 2; /* First column */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.item1 a {
    margin: 5px 0;
    text-decoration: none;
    color: #000;
}

.item2 {
    grid-row: 1 / 2; /* First row */
    grid-column: 2 / 3; /* Second column */
}

.item3 {
    grid-row: 2 / 3; /* Second row */
    grid-column: 2 / 3; /* Second column */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 20px;
}

.overview-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.overview-header .icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.item4 {
    grid-row: 3 / 4; /* Third row */
    grid-column: 2 / 3; /* Second column */
}

.nested-grid-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.nested-grid-item {
    background-color: #aaa;
    border: 1px solid #222;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.item-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    align-self: flex-start;
    font-weight: bold;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    align-self: flex-start;
}

.icon-button img {
    width: 40px;
    height: 40px;
}

.data {
    margin-top: 10px;
    font-size: 1.2em;
}

.change {
    margin-top: 5px;
    color: #555;
}